body {
    font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
    padding: 0;
}

/* Customise the color of Hamburger Menu */
.custom-toggler.navbar-toggler {
    border-color: #f7941d;
}

.custom-toggler .navbar-toggler-icon {
    background-image:
        url("data:image/svg+xml; charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(247,148,29)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Customise Heading and Nav Colors */
.mainHeading {
    color: #f7941d;
    font-weight: bold;
}

.navbar {
    border-bottom: none !important;
    background-color: black !important;
    opacity: 0.9;
}
.navbar-nav a {
    color: #448ecc;
    font-weight: bold;
    border-bottom: 2px solid #448ecc;
    padding: 0;
    border-radius: 0 0 10px 0;
    text-align: right;
}

.navbar-nav a:hover {
    color: #f7941d;
}

.navbar-nav a:focus {
    color: #f7941d;
}

/* Customise Jumbotron */
.heroImage {
    background-image: url(../images/keyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 0 !important;
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heroText img {
    width: 100px;
    border-radius: 50%;
    border: 3px solid #f7941d;
}

.heroText h2 {
    font-size: 1.3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 5px;
}

#contactMeBtn {
    background-color: #f7941d;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}

#contactMeBtn:hover {
    background-color: #448ecc;
}


/* About Me & Contact Me Styling*/
.card {
    border: none;
    margin-top: 10px;
}

.cardTitle {
    border-bottom: 3px solid #f7941d;
    border-radius: 0 0 10px 0;
}

.cardTitle h5 {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 20px 0 0;
}


/* Footer */
footer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    min-height: 40px;
    color: #F7941D;
}

footer h6 {
    font-size: 1em;
    font-weight: bold;
}

footer img {
    height: 30px;
}

.workCards {
    min-height: 200px;
    padding: 25px;
}

.workCard {
    min-height: 100px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.singleCard {
    border: 2px solid black;
}

@media only screen and (min-width: 768px) {
    .cardTitle {
        border-right: 3px solid #f7941d;
        border-bottom: none;
        border-radius: 0 10px 0 0;
    }

    .heroText {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .cardTitle h5 {
        text-align: right;
    }
}