/* Customise the color of Hamburger Menu */
.custom-toggler.navbar-toggler {
    border-color: #f7941d;
}

.custom-toggler .navbar-toggler-icon {
    background-image:
        url("data:image/svg+xml; charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(247,148,29)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Customise Heading and Nav Colors */
.mainHeading {
    color: #f7941d;
}

.navbar-nav a {
    color: #448ecc;
    font-weight: bold;
    border-bottom: 2px solid #448ecc;
    padding: 0;
    border-radius: 0 0 10px 0;
}